@using System.Data
@using sotec_firma.Helpers
@{
    ViewBag.Title = sotec_web.Resources.Dil.ADRES;

    int adres_id = ViewBag.adres_id;

    int kullanici_id = Convert.ToInt32(Session["kullanici_id"]);
    DataRow dr_kullanici = null;
    if (kullanici_id != 0) { dr_kullanici = SQL.get("SELECT * FROM kullanicilar WHERE kullanici_id = " + kullanici_id).Rows[0]; }
    DataRow dr_adres = null;
    if (adres_id != 0) { dr_adres = SQL.get("SELECT * FROM adresler WHERE adres_id = " + adres_id).Rows[0]; }
}
<div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding">
        <h1 class="tt-title-subpages noborder">@sotec_web.Resources.Dil.ADRES</h1>
        <div class="tt-shopping-layout">
            <h2 class="tt-title">@sotec_web.Resources.Dil.ADRES</h2>
            <div class="tt-wrapper">
                <a href="@Url.Action("Adress", "Wokiee")" class="tt-link-back">
                    <i class="icon-h-46"></i> @sotec_web.Resources.Dil.GERİ
                </a>,
            </div>
            <label class="text-danger">@Request.Params["hata"]</label>
            <div class="tt-wrapper">
                <h6 class="tt-title">@sotec_web.Resources.Dil.DÜZENLE</h6>
                <div class="form-default">
                    <form method="post" action="/Wokiee/adresEkle">
                        <input type="hidden" name="kullanici_id" value="@dr_kullanici["kullanici_id"]" />
                        <input type="hidden" name="adres_id" value="@adres_id" />
                        <div class="form-group">
                            <label for="shopInputFirstName" class="control-label">@sotec_web.Resources.Dil.ADRES_ADI *</label>
                            <input type="text" class="form-control" id="ad" name="ad" value="@(adres_id == 0 ? "" : dr_adres["ad"])">
                        </div>
                        <div class="form-group">
                            <label for="shopInputLastName" class="control-label">@sotec_web.Resources.Dil.AD_SOYAD *</label>
                            <input type="text" class="form-control" id="alici" name="alici" value="@(adres_id == 0 ? "" : dr_adres["alici"])">
                        </div>
                        <div class="form-group">
                            <label for="shopCompanyName" class="control-label">@sotec_web.Resources.Dil.TELEFON</label>
                            <input type="text" class="form-control" id="telefon" name="telefon" value="@(adres_id == 0 ? "" : dr_adres["telefon"])">
                        </div>
                        <div class="form-group">
                            <label for="shopCompanyName" class="control-label">@sotec_web.Resources.Dil.ÜLKE *</label>
                            <input type="text" class="form-control" id="ulke" name="ulke" value="@(adres_id == 0 ? "" : dr_adres["ulke"])">
                        </div>
                        <div class="form-group">
                            <label for="shopAddress" class="control-label">@sotec_web.Resources.Dil.ŞEHİR *</label>
                            <input type="text" class="form-control" id="sehir" name="sehir" value="@(adres_id == 0 ? "" : dr_adres["sehir"])">
                        </div>
                        <div class="form-group">
                            <label for="shopTown" class="control-label">@sotec_web.Resources.Dil.SEMT *</label>
                            <input type="text" class="form-control" id="semt" name="semt" value="@(adres_id == 0 ? "" : dr_adres["semt"])">
                        </div>
                        <div class="form-group">
                            <label for="shopState" class="control-label">@sotec_web.Resources.Dil.ADRES *</label>
                            <input type="text" class="form-control" id="adres" name="adres" value="@(adres_id == 0 ? "" : dr_adres["adres"])">
                        </div>
                        <div class="form-group">
                            <label for="shopPostCode" class="control-label">@sotec_web.Resources.Dil.POSTA_KODU</label>
                            <input type="text" class="form-control" id="posta_kodu" name="posta_kodu" value="@(adres_id == 0 ? "" : dr_adres["posta_kodu"])">
                        </div>
                        <div class="row tt-offset-21">
                            <div class="col-auto">
                                <button type="submit" class="btn">@sotec_web.Resources.Dil.KAYDET</button>
                            </div>
                            <div class="col-auto align-self-center">
                                <a href="@Url.Action("Adress", "Wokiee")" class="tt-link">@sotec_web.Resources.Dil.GERİ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

