@using System.Data
@using sotec_firma.Helpers
@using System.Configuration
@{
    ViewBag.Title = "";

    string lang = Request.Cookies.Get("MultiLanguageExample").Value;
    DataTable dt_dil = SQL.get("SELECT * FROM diller WHERE silindi = 0 AND kisa_kod = '" + lang + "'");
    if (dt_dil.Rows.Count <= 0) { dt_dil = SQL.get("SELECT * FROM diller WHERE silindi = 0 AND varsayilan = 1"); }
    DataRow dr_dil = dt_dil.Rows[0];

    DataTable dt_slider = SQL.get("SELECT * FROM slider WHERE silindi = 0 AND dil_id = " + dr_dil["dil_id"]);
    DataTable dt_karo = SQL.get("SELECT * FROM karolar WHERE silindi = 0 AND dil_id = " + dr_dil["dil_id"]);
    DataTable dt_one_cikan_urunler = SQL.get("SELECT u.stok_kodu, u.urun_id, u.fiyat, urun_adi = ISNULL(du.urun_adi, u.urun_adi), aciklama = ISNULL(du.aciklama, u.aciklama), resim = ISNULL((SELECT TOP 1 ur1.resim FROM urun_resimleri ur1 WHERE ur1.silindi = 0 AND ur1.urun_id = u.urun_id AND sira = (SELECT MIN(ur2.sira) FROM urun_resimleri ur2 WHERE ur2.silindi = 0 AND ur2.urun_id = u.urun_id)), '')  FROM urunler u LEFT OUTER JOIN dil_urunler du ON du.urun_id = u.urun_id AND du.silindi = 0 AND du.dil_id = " + dr_dil["dil_id"] + " WHERE u.silindi = 0 AND u.one_cikan = 1");
    DataTable dt_son_hizmetler = SQL.get("SELECT h.hizmet_id, h.gorsel, baslik = ISNULL(dh.baslik, h.baslik), yazi = ISNULL(dh.yazi, h.yazi) FROM hizmetler h LEFT OUTER JOIN dil_hizmetler dh ON dh.hizmet_id = h.hizmet_id AND dh.silindi = 0 AND dh.dil_id = " + dr_dil["dil_id"] + " WHERE h.silindi = 0");
    DataTable dt_son_bloglar = SQL.get("SELECT TOP 3 b.blog_id, b.gorsel, baslik = ISNULL(db.baslik, b.baslik), yazi = ISNULL(db.yazi, b.yazi), ad_soyad = k.ad + ' ' + k.soyad, b.kayit_tarihi  FROM bloglar b INNER JOIN kullanicilar k ON k.kullanici_id = b.kaydeden_kullanici_id LEFT OUTER JOIN dil_bloglar db ON db.blog_id = b.blog_id AND db.silindi = 0 AND db.dil_id = " + dr_dil["dil_id"] + " WHERE b.silindi = 0 ORDER by b.blog_id DESC");
}

<div class="container-indent nomargin">
    <div class="container-fluid">
        <div class="row">
            <div class="slider-revolution revolution-default">
                <div class="tp-banner-container">
                    <div class="tp-banner revolution">
                        <ul>
                            @foreach (DataRow dr_slider_item in dt_slider.Rows)
                            {
                                <li data-thumb="/admin_src/images/sliders/buyuk/@dr_slider_item["resim"]" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
                                    <img src="~/admin_src/images/sliders/buyuk/@dr_slider_item["resim"]" alt="@dr_slider_item["baslik"]" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat">
                                    <div class="tp-caption tp-caption1 lft stb"
                                         data-x="center"
                                         data-y="center"
                                         data-hoffset="0"
                                         data-voffset="0"
                                         data-speed="600"
                                         data-start="900"
                                         data-easing="Power4.easeOut"
                                         data-endeasing="Power4.easeIn">
                                        @MvcHtmlString.Create((dr_slider_item["baslik"].ToString().Length <= 0 ? "" : "<div class='tp-caption1-wd-1 tt-white-color'>" + dr_slider_item["baslik"] + "</div>"))
                                        @MvcHtmlString.Create((dr_slider_item["yazi"].ToString().Length <= 0 ? "" : "<div class='tp-caption1-wd-2 tt-white-color'>" + dr_slider_item["yazi"] + "</div>"))
                                        @MvcHtmlString.Create((dr_slider_item["yazi"].ToString().Length <= 0 ? "" : "<div class='tp-caption1-wd-3 tt-white-color'>" + dr_slider_item["alt_yazi"] + "</div>"))
                                        @MvcHtmlString.Create((dr_slider_item["yazi"].ToString().Length <= 0 ? "" : "<div class='tp-caption1-wd-4'><a href='" + dr_slider_item["link"] + "' class='btn btn-xl' data-text='" + dr_slider_item["buton"] + "'>" + dr_slider_item["buton"] + "</a></div>"))
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-indent0">
    <div class="container-fluid">
        <div class="row tt-layout-promo-box">
            <div class="col-sm-12 col-md-12">
                <div class="row clearfix">
                    @foreach (DataRow dr_karo_item in dt_karo.Rows)
                    {
                        <div class="col-sm-3 col-6">
                            <a href="@dr_karo_item["link"]" class="tt-promo-box tt-one-child hover-type-2">
                                <img src="~/wokiee_src/images/loader.svg" data-src="/admin_src/images/karo/buyuk/@dr_karo_item["resim"]" alt="">
                                @MvcHtmlString.Create((dr_karo_item["buton"].ToString().Length <= 0 ? "" : "<div class='tt-description'><div class='tt-description-wrapper'><div class='tt-background'></div><div class='tt-title-small'>" + dr_karo_item["buton"] + "</div></div></div>"))
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (ConfigurationManager.AppSettings["urunler"] == "true")
{
    <div class="container-indent">
        <div class="container container-fluid-custom-mobile-padding">
            <div class="tt-block-title">
                <h1 class="tt-title">@sotec_web.Resources.Dil.ÖNE_ÇIKANLAR</h1>
            </div>
            <div class="row tt-layout-product-item">
                @foreach (DataRow dr_urun_item in dt_one_cikan_urunler.Rows)
                {
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="tt-product thumbprod-center">
                            <div class="tt-image-box">
                                <!--<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"></a>-->
                                <a href="@Url.Action("Product", "Wokiee", new { id = dr_urun_item["urun_id"] })">
                                    <span class="tt-img"><img src="~/wokiee_src/images/loader.svg" data-src="/admin_src/images/urun/kucuk/@dr_urun_item["resim"]" alt=""></span>
                                    <span class="tt-img-roll-over"><img src="~/wokiee_src/images/loader.svg" data-src="/admin_src/images/urun/kucuk/@dr_urun_item["resim"]" alt=""></span>
                                </a>
                            </div>
                            <div class="tt-description">
                                <div class="tt-row">
                                    <ul class="tt-add-info">
                                        <li><a href="@Url.Action("Product", "Wokiee", new { id = dr_urun_item["urun_id"] })">@dr_urun_item["stok_kodu"]</a></li>
                                    </ul>
                                </div>
                                <h2 class="tt-title"><a href="@Url.Action("Product", "Wokiee", new { id = dr_urun_item["urun_id"] })">@dr_urun_item["urun_adi"]</a></h2>
                                <div class="tt-price">
                                    @if (ConfigurationManager.AppSettings["eticaret"] == "true") {@(dr_urun_item["fiyat"] + "₺") } else { <br />}
                                </div>
                                <div class="tt-product-inside-hover">
                                    <div class="tt-row-btn">
                                        @if (ConfigurationManager.AppSettings["eticaret"] == "true") { <a href="@Url.Action("Product", "Wokiee", new { id = dr_urun_item["urun_id"] })" class="tt-btn-addtocart thumbprod-button-bg">@sotec_web.Resources.Dil.SATIN_AL</a> }
                                    </div>
                                    <div class="tt-row-btn">
                                        <!--<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal (quickViewModal)
                        <div class="modal  fade" id="ModalquickView" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="tt-modal-quickview desctope">
                                            <div class="row">
                                                <div class="col-12 col-md-5 col-lg-6">
                                                    <div class="tt-mobile-product-slider arrow-location-center">
                                                        <div><img src="images/loader.svg" data-src="images/product/product-01.jpg" alt=""></div>
                                                        <div><img src="images/loader.svg" data-src="images/product/product-01-02.jpg" alt=""></div>
                                                        <div><img src="images/loader.svg" data-src="images/product/product-01-03.jpg" alt=""></div>
                                                        <div><img src="images/loader.svg" data-src="images/product/product-01-04.jpg" alt=""></div>
                                                        <div>
                                                            <div class="tt-video-block">
                                                                <a href="#" class="link-video"></a>
                                                                <video class="movie" src="video/video.mp4" poster="video/video_img.jpg"></video>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-7 col-lg-6">
                                                    <div class="tt-product-single-info">
                                                        <div class="tt-add-info">
                                                            <ul>
                                                                <li><span>SKU:</span> 001</li>
                                                                <li><span>Availability:</span> 40 in Stock</li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="tt-title">Cotton Blend Fleece Hoodie</h2>
                                                        <div class="tt-price">
                                                            <span class="new-price">$29</span>
                                                            <span class="old-price"></span>
                                                        </div>
                                                        <div class="tt-review">
                                                            <div class="tt-rating">
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star-half"></i>
                                                                <i class="icon-star-empty"></i>
                                                            </div>
                                                            <a href="#">(1 Customer Review)</a>
                                                        </div>
                                                        <div class="tt-wrapper">
                                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                                        </div>
                                                        <div class="tt-swatches-container">
                                                            <div class="tt-wrapper">
                                                                <div class="tt-title-options">SIZE</div>
                                                                <form class="form-default">
                                                                    <div class="form-group">
                                                                        <select class="form-control">
                                                                            <option>21</option>
                                                                            <option>25</option>
                                                                            <option>36</option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="tt-wrapper">
                                                                <div class="tt-title-options">COLOR</div>
                                                                <form class="form-default">
                                                                    <div class="form-group">
                                                                        <select class="form-control">
                                                                            <option>Red</option>
                                                                            <option>Green</option>
                                                                            <option>Brown</option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="tt-wrapper">
                                                                <div class="tt-title-options">TEXTURE:</div>
                                                                <ul class="tt-options-swatch options-large">
                                                                    <li>
                                                                        <a class="options-color" href="#">
                                                                            <span class="swatch-img">
                                                                                <img src="images/loader.svg" data-src="images/custom/texture-img-01.jpg" alt="">
                                                                            </span>
                                                                            <span class="swatch-label color-black"></span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="active">
                                                                        <a class="options-color" href="#">
                                                                            <span class="swatch-img">
                                                                                <img src="images/loader.svg" data-src="images/custom/texture-img-02.jpg" alt="">
                                                                            </span>
                                                                            <span class="swatch-label color-black"></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="options-color" href="#">
                                                                            <span class="swatch-img">
                                                                                <img src="images/loader.svg" data-src="images/custom/texture-img-03.jpg" alt="">
                                                                            </span>
                                                                            <span class="swatch-label color-black"></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="options-color" href="#">
                                                                            <span class="swatch-img">
                                                                                <img src="images/loader.svg" data-src="images/custom/texture-img-04.jpg" alt="">
                                                                            </span>
                                                                            <span class="swatch-label color-black"></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="options-color" href="#">
                                                                            <span class="swatch-img">
                                                                                <img src="images/loader.svg" data-src="images/custom/texture-img-05.jpg" alt="">
                                                                            </span>
                                                                            <span class="swatch-label color-black"></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="tt-wrapper">
                                                            <div class="tt-row-custom-01">
                                                                <div class="col-item">
                                                                    <div class="tt-input-counter style-01">
                                                                        <span class="minus-btn"></span>
                                                                        <input type="text" value="1" size="5">
                                                                        <span class="plus-btn"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-item">
                                                                    <a href="#" class="btn btn-lg"><i class="icon-f-39"></i>ADD TO CART</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                }
            </div>
        </div>
    </div>
}
@if (ConfigurationManager.AppSettings["hizmetler"] == "true")
{
    <div class="container-indent">
        <div class="container-fluid-custom">
            <div class="row tt-layout-promo-box">
                @foreach (DataRow dr_hizmet_item in dt_son_hizmetler.Rows)
                {
                    <div class="col-sm-6 col-md-4">
                        <a href="@Url.Action("Service", "Wokiee", new { id = dr_hizmet_item["hizmet_id"] })" class="tt-promo-box">
                            <img src="~/wokiee_src/images/loader.svg" data-src="/admin_src/images/hizmet/kucuk/@dr_hizmet_item["gorsel"]" alt="">
                            <div class="tt-description">
                                <div class="tt-description-wrapper">
                                    <div class="tt-background"></div>
                                    <div class="tt-title-large">@dr_hizmet_item["baslik"]</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}
@if (ConfigurationManager.AppSettings["blog"] == "true")
{
    <div class="container-indent">
        <div class="container">
            <div class="tt-block-title">
                <h2 class="tt-title">@sotec_web.Resources.Dil.SON_BLOG_YAZILARI</h2>
            </div>
            <div class="tt-blog-thumb-list">
                <div class="row clearfix">
                    @foreach (DataRow dr_blog_item in dt_son_bloglar.Rows)
                    {
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="tt-blog-thumb">
                                <div class="tt-img"><a href="@Url.Action("Blog", "Wokiee", new { id = dr_blog_item["blog_id"] })"><img src="~/wokiee_src/images/loader.svg" data-src="/admin_src/images/blog/kucuk/@dr_blog_item["gorsel"]" alt=""></a></div>
                                <div class="tt-title-description">
                                    <div class="tt-background"></div>
                                    <div class="tt-tag">
                                        <!--<a href="blog-single-post.html">FASHION</a>-->
                                    </div>
                                    <div class="tt-title">
                                        <a href="@Url.Action("Blog", "Wokiee", new { id = dr_blog_item["blog_id"] })">@dr_blog_item["baslik"]</a>
                                    </div>
                                    <p>
                                        @MvcHtmlString.Create(SQL.StripHTML(dr_blog_item["yazi"].ToString().Substring(0, dr_blog_item["yazi"].ToString().Length < 100 ? dr_blog_item["yazi"].ToString().Length : 100)))...
                                    </p>
                                    <div class="tt-meta">
                                        <div class="tt-autor">
                                            by @dr_blog_item["ad_soyad"] on @(Convert.ToDateTime(dr_blog_item["kayit_tarihi"]).ToShortDateString())
                                        </div>
                                        <div class="tt-comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}