@using System.Data
@using sotec_firma.Helpers
@{
    ViewBag.Title = sotec_web.Resources.Dil.HESAP;

    int kullanici_id = Convert.ToInt32(Session["kullanici_id"]);
    DataRow dr_kullanici = null;
    if (kullanici_id != 0) { dr_kullanici = SQL.get("SELECT * FROM kullanicilar WHERE kullanici_id = " + kullanici_id).Rows[0]; }

    DataTable dt_siparisler = SQL.get("SELECT TOP 25 s.kargo_no, s.siparis_id, s.kayit_tarihi, s.siparis_durumu_parametre_id, s.odeme_tipi_parametre_id, toplam = ISNULL((SELECT SUM(sk.miktar * sk.birim_fiyat) FROM siparis_kalemleri sk WHERE sk.silindi = 0 AND sk.siparis_id = s.siparis_id), 0) FROM siparisler s WHERE s.silindi = 0 AND s.kullanici_id = " + dr_kullanici["kullanici_id"] + " ORDER by s.siparis_id DESC");
}
<div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding">
        <h1 class="tt-title-subpages noborder">@sotec_web.Resources.Dil.HESAP</h1>
        <div class="tt-shopping-layout">
            <h2 class="tt-title-border">@sotec_web.Resources.Dil.HESAP</h2>
            <div class="tt-wrapper">
                <h3 class="tt-title">@sotec_web.Resources.Dil.SİPARİŞLER</h3>
                <div class="tt-table-responsive">
                    <table class="tt-table-shop-01">
                        <thead>
                            <tr>
                                <th>@sotec_web.Resources.Dil.SİPARİŞ</th>
                                <th>@sotec_web.Resources.Dil.TARİH</th>
                                <th>@sotec_web.Resources.Dil.DURUM</th>
                                <th>@sotec_web.Resources.Dil.ÖDEME_TİPİ</th>
                                <th>@sotec_web.Resources.Dil.KARGO</th>
                                <th>@sotec_web.Resources.Dil.TOPLAM</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr_siparis in dt_siparisler.Rows)
                            {
                            <tr>
                                <td><a href="@Url.Action("Order", "Home", new { id = dr_siparis["siparis_id"]})">#@dr_siparis["siparis_id"]</a></td>
                                <td>@dr_siparis["kayit_tarihi"]</td>
                                <td>
                                    @switch (Convert.ToInt32(dr_siparis["siparis_durumu_parametre_id"]))
                                    {
                                        case 33:
                                            @sotec_web.Resources.Dil.BEKLEMEDE;
                                            break;
                                        case 34:
                                            @sotec_web.Resources.Dil.HAZIRLANIYOR;
                                            break;
                                        case 36:
                                            @sotec_web.Resources.Dil.KARGODA;
                                            break;
                                        case 37:
                                            @sotec_web.Resources.Dil.TAMAMLANDI;
                                            break;
                                        case 38:
                                            @sotec_web.Resources.Dil.İPTAL_EDİLDİ;
                                            break;
                                        default:
                                            @sotec_web.Resources.Dil.BEKLEMEDE;
                                            break;
                                    }
                                </td>
                                <td>
                                    @switch (Convert.ToInt32(dr_siparis["odeme_tipi_parametre_id"]))
                                    {
                                        case 29:
                                            @sotec_web.Resources.Dil.KREDİ_KARTI;
                                            break;
                                        case 30:
                                            @sotec_web.Resources.Dil.KAPIDA_ÖDEME;
                                            break;
                                        case 31:
                                            @sotec_web.Resources.Dil.MAĞAZADAN_TESLİM;
                                            break;
                                        case 32:
                                            @sotec_web.Resources.Dil.HAVALE;
                                            break;
                                        default:
                                            @sotec_web.Resources.Dil.KREDİ_KARTI;
                                            break;
                                    }
                                </td>
                                <td>@dr_siparis["kargo_no"]</td>
                                <td>@Convert.ToDecimal(dr_siparis["toplam"]).ToString("n2") ₺</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tt-wrapper">
                <h3 class="tt-title">@sotec_web.Resources.Dil.HESAP_DETAYLARI</h3>
                <a href="@Url.Action("Adress", "Home")" class="btn btn-border">@sotec_web.Resources.Dil.ADRESLERİ_DÜZENLE</a>
                <div class="tt-table-responsive">
                    <form action="/Home/kullaniciDuzenle" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="kullanici_id" value="@dr_kullanici["kullanici_id"]" />
                        <label class="text-danger">@Request.Params["hata"]</label>
                        <table class="tt-table-shop-02">
                            <tbody>
                                <tr>
                                    <td>@sotec_web.Resources.Dil.AD:</td>
                                    <td><input type="text" name="ad" class="form-control" id="ad" placeholder="@sotec_web.Resources.Dil.AD" value="@dr_kullanici["ad"]" autocomplete="off" required></td>
                                </tr>
                                <tr>
                                    <td>@sotec_web.Resources.Dil.SOYAD:</td>
                                    <td><input type="text" name="soyad" class="form-control" id="soyad" placeholder="@sotec_web.Resources.Dil.SOYAD" value="@dr_kullanici["soyad"]" autocomplete="off" required></td>
                                </tr>
                                <tr>
                                    <td>@sotec_web.Resources.Dil.E_MAİL:</td>
                                    <td><input type="email" name="email" class="form-control" id="email" placeholder="@sotec_web.Resources.Dil.E_MAİL" value="@dr_kullanici["email"]" autocomplete="off" disabled required></td>
                                </tr>
                                <tr>
                                    <td>@sotec_web.Resources.Dil.TELEFON:</td>
                                    <td><input type="tel" name="telefon" class="form-control" id="telefon" placeholder="@sotec_web.Resources.Dil.TELEFON" value="@dr_kullanici["telefon"]" autocomplete="off" required></td>
                                </tr>
                                <tr>
                                    <td>@sotec_web.Resources.Dil.ESKİ_ŞİFRE:</td>
                                    <td><input type="password" name="eski_sifre" class="form-control" id="sifre" placeholder="@sotec_web.Resources.Dil.ESKİ_ŞİFRE" value="" autocomplete="off" required></td>
                                </tr>
                                <tr>
                                    <td>@sotec_web.Resources.Dil.YENİ_ŞİFRE:</td>
                                    <td><input type="password" name="yeni_sifre" class="form-control" id="sifre" placeholder="@sotec_web.Resources.Dil.YENİ_ŞİFRE" value="" autocomplete="off" required></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><button class="btn btn-border" type="submit">@sotec_web.Resources.Dil.GÜNCELLE</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

