@using System.Data
@using sotec_firma.Helpers
@{
    string lang = Request.Cookies.Get("MultiLanguageExample").Value;

    DataTable dt_dil = SQL.get("SELECT * FROM diller WHERE silindi = 0 AND kisa_kod = '" + lang + "'");
    if (dt_dil.Rows.Count <= 0) { dt_dil = SQL.get("SELECT * FROM diller WHERE silindi = 0 AND varsayilan = 1"); }
    DataRow dr_dil = dt_dil.Rows[0];

    int hizmet_id = ViewBag.hizmet_id;

    DataRow dr_hizmet = SQL.get("SELECT b.hizmet_id, b.gorsel, baslik = ISNULL(db.baslik, b.baslik), yazi = ISNULL(db.yazi, b.yazi), ad_soyad = k.ad + ' ' + k.soyad, b.kayit_tarihi FROM hizmetler b INNER JOIN kullanicilar k ON k.kullanici_id = b.kaydeden_kullanici_id LEFT OUTER JOIN dil_hizmetler db ON db.hizmet_id = b.hizmet_id AND db.silindi = 0 AND db.dil_id = " + dr_dil["dil_id"] + " WHERE b.silindi = 0 AND b.hizmet_id = " + hizmet_id).Rows[0];

    ViewBag.Title = dr_hizmet["baslik"];
}
<div class="sx-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5" style="background-image:url(images/banner/10.jpg);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="sx-bnr-inr-entry">
            <div class="banner-title-outer">
                <div class="banner-title-name">
                    <h2 class="m-tb0">@dr_hizmet["baslik"]</h2>
                </div>
            </div>
            <div>
                <ul class="sx-breadcrumb breadcrumb-style-2">
                    <li><a href="@Url.Action("Index", "Inteshape")">@sotec_web.Resources.Dil.ANA_SAYFA</a></li>
                    <li><a href="@Url.Action("Services", "Inteshape")">@sotec_web.Resources.Dil.HİZMETLER</a></li>
                    <li>@dr_hizmet["baslik"]</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section-full p-t80 p-b50 inner-page-padding">
    <div class="container">
        <div class="blog-single-space max-w900 ml-auto mr-auto">
            <div class="blog-post blog-detail text-black">
                <div class="sx-post-media">
                    <div class="portfolio-item">
                        <img class="img-responsive" src="~/admin_src/images/hizmet/buyuk/@dr_hizmet["gorsel"]" alt="">
                    </div>
                </div>
                <div class="sx-post-meta  m-t20">
                    <ul>
                        <li class="post-date">@(Convert.ToDateTime(dr_hizmet["kayit_tarihi"]).ToShortDateString()) </li>
                        <li class="post-author">@dr_hizmet["ad_soyad"] </li>
                    </ul>
                </div>
                <div class="sx-post-title ">
                    <h3 class="post-title">@dr_hizmet["baslik"]</h3>
                </div>
                <div class="sx-post-text">
                    @MvcHtmlString.Create(dr_hizmet["yazi"].ToString())
                </div>
            </div>
        </div>
    </div>
</div>


