@using System.Data
@using sotec_firma.Helpers
@{
    ViewBag.Title = "Hizmet";

    bool first = true;
    DataTable dt_diller_vs;
    DataTable dt_hizmet = SQL.get("SELECT b.*, k.ad, k.soyad FROM hizmetler b INNER JOIN kullanicilar k ON k.kullanici_id = b.kaydeden_kullanici_id WHERE b.silindi = 0");
}
@section style
{
    <link rel="stylesheet" href="~/admin_src/vendor/dropify/css/dropify.min.css">
    <script src="~/admin_src/vendor/ckeditor/ckeditor.js"></script>
}
@section script
{
    <script src="~/admin_src/assets/js/pages/ui/dialogs.js"></script>
    <script src="~/admin_src/vendor/dropify/js/dropify.min.js"></script>
    <script>
        function hizmet_sil(hizmet_id) {
            swal({
                title: "Silmek istediğinizden emin misiniz?",
                text: "Silinen hizmet geri getirilemez!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Evet, sil!",
                cancelButtonText: "Hayır",
                closeOnConfirm: false
            },
                function () {
                    window.location = "/Admin/hizmetSil?hizmet_id=" + hizmet_id;
                });
        }
    </script>
}

<div class="row clearfix">
    @{ if (Request.Params["hata"] != null)
        {<div class="alert alert-danger col-md-12" role="alert">@Request.Params["hata"]</div>} }
    @{ if (Request.Params["tepki"] != null)
        {
            if (Request.Params["tepki"].ToString() == "1")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, yeni hizmet eklendi...</div> }
            if (Request.Params["tepki"].ToString() == "2")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, hizmet güncellendi...</div> }
            if (Request.Params["tepki"].ToString() == "3")
            { <div class="alert alert-info col-md-12" role="alert">Hizmet silindi...</div> }

        }
    }
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="pull-right">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addcontact"><i class="fa fa-plus"></i> Yeni Hizmet</a>
                </div>
            </div>
            <div class="body">
                <div class="table-responsive check-all-parent">
                    <table class="table table-custom table-hover m-b-0 c_list">
                        <thead>
                            <tr>
                                <th>Kullanıcı</th>
                                <th>Baslik</th>
                                <th>Tarih</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr_item in dt_hizmet.Rows)
                            {
                                <tr>
                                    <td>@dr_item["ad"] @dr_item["soyad"]</td>
                                    <td>@dr_item["baslik"]</td>
                                    <td>@dr_item["kayit_tarihi"]</td>
                                    <td>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-default" data-toggle="modal" data-target="#tedarikci_duzenle_@dr_item["hizmet_id"]"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-default" data-toggle="modal" data-target="#tedarikci_dil_@dr_item["hizmet_id"]"><i class="fa fa-flag"></i></a>
                                        <button onclick="hizmet_sil(@dr_item["hizmet_id"])" class="btn btn-danger" title="Delete" type="button"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>

                                <div class="modal fade" id="tedarikci_duzenle_@dr_item["hizmet_id"]" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <form action="/Admin/hizmetDuzenle" method="post" enctype="multipart/form-data">
                                                <div class="modal-header">
                                                    <h6 class="title" id="defaultModalLabel">Hizmet Düzenle</h6>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row clearfix">
                                                        <input name="hizmet_id" type="hidden" value="@dr_item["hizmet_id"]" />
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Görsel</label>
                                                                <input type="file" name="gorsel" class="form-control" accept="image/x-png,image/jpeg" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Başlık</label>
                                                                <input type="text" name="baslik" class="form-control" placeholder="Başlık" autocomplete="off" value="@dr_item["baslik"]" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Yazı</label>
                                                                <textarea name="yazi" id="ckeditor_@dr_item["hizmet_id"]">@dr_item["yazi"]</textarea>
                                                                <script>CKEDITOR.replace('ckeditor_@dr_item["hizmet_id"]');</script>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Düzenle</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="tedarikci_dil_@dr_item["hizmet_id"]" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <form action="/Admin/hizmetDil" method="post" enctype="multipart/form-data">
                                                <div class="modal-header">
                                                    <h6 class="title" id="defaultModalLabel">Hizmet Dilleri</h6>
                                                </div>
                                                <div class="modal-body">
                                                    <input name="hizmet_id" type="hidden" value="@dr_item["hizmet_id"]" />
                                                    <div class="body">
                                                        <ul class="nav nav-tabs">
                                                            @{
                                                                first = true;
                                                                dt_diller_vs = SQL.get("SELECT * FROM diller WHERE silindi = 0 AND varsayilan = 0");
                                                            }
                                                            @foreach (DataRow item2 in dt_diller_vs.Rows)
                                                            {
                                                                <li class="nav-item"><a class="nav-link @(first == true ? "active show" : "") " data-toggle="tab" href="#dil_@(item2["dil_id"] + "_" + dr_item["hizmet_id"])">@item2["dil"]</a></li>
                                                                if (first)
                                                                {
                                                                    first = false;
                                                                }
                                                            }
                                                        </ul>


                                                        <div class="tab-content">
                                                            @{
                                                                first = true;
                                                                dt_diller_vs = SQL.get("SELECT d.*, dk.baslik, dk.yazi FROM diller d LEFT OUTER JOIN dil_hizmetler dk ON dk.dil_id = d.dil_id AND dk.hizmet_id = " + dr_item["hizmet_id"] + " WHERE d.silindi = 0 AND d.varsayilan = 0");
                                                            }
                                                            @foreach (DataRow item2 in dt_diller_vs.Rows)
                                                            {
                                                                <input type="hidden" name="dil_id[]" value="@item2["dil_id"]" />
                                                                <div class="tab-pane @(first ? "active show" : "")" id="dil_@(item2["dil_id"] + "_" + dr_item["hizmet_id"])">
                                                                    <h6>@item2["dil"]</h6>
                                                                    <div class="row clearfix">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label class="control-label">Başlık</label>
                                                                                <input type="text" name="baslik" class="form-control" placeholder="Başlık" autocomplete="off" value="@item2["baslik"]" />
                                                                                <span class="text-muted small">@dr_item["baslik"]</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label class="control-label">Yazı</label>
                                                                                <textarea name="yazi" id="ckeditor1_@(item2["dil_id"] + "_" + dr_item["hizmet_id"])">@item2["yazi"]</textarea>
                                                                                <script>CKEDITOR.replace('ckeditor1_@(item2["dil_id"] + "_" + dr_item["hizmet_id"])');</script>
                                                                                <span class="text-muted small">@MvcHtmlString.Create(dr_item["yazi"].ToString())</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                if (first)
                                                                {
                                                                    first = false;
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Düzenle</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addcontact" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" action="~/Admin/hizmetEkle" enctype="multipart/form-data">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Hizmet Ekle</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Görsel</label>
                                <input type="file" name="gorsel" class="form-control" accept="image/x-png,image/jpeg" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Başlık</label>
                                <input type="text" name="baslik" class="form-control" placeholder="Başlık" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Yazı</label>
                                <textarea name="yazi" id="ckeditor"></textarea>
                                <script>CKEDITOR.replace('ckeditor');</script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ekle</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                </div>
            </form>
        </div>
    </div>
</div>