@using System.Data
@using sotec_firma.Helpers
@{
    int dil_id = ViewBag.dil_id;

    DataRow dr_dil = SQL.get("SELECT * FROM diller WHERE dil_id = " + dil_id).Rows[0];

    ViewBag.Title = "Karo / " + dr_dil["dil"];

    DataTable dt_karo = SQL.get("SELECT * FROM karolar WHERE silindi = 0 AND dil_id = " + dil_id + " ORDER by karo_id");
}
@section style
{
}
@section script
{
    <script>
        function galeri_oge_ekle(btn) {
            var div = document.createElement("div");
            div.className = "row clearfix";
            div.innerHTML =
                "<div class='col-12'>" +
                "<input type='hidden' name='karo_id[]' value='0' />" +
                "    <div class='form-group'>" +
                "       <label>Resim</label>" +
                "       <input type='file' name='resim' class='form-control' />" +
                "    </div>" +
                "</div>" +
                "<div class='col-12'>" +
                "    <div class='form-group'>" +
                "        <label>Buton Yazısı</label>" +
                "        <input type='text' name='buton[]' class='form-control' />" +
                "    </div>" +
                "    <div class='form-group'>" +
                "        <label>Buton Linki</label>" +
                "        <input type='text' name='link[]' class='form-control' />" +
                "    </div>" +
                "</div>" +
                "<div class='col-md-12'><button type='button' class='btn btn-block btn-danger' onclick='galeri_oge_sil(this)'>Sil</button><br/></div>"

            btn.parentNode.childNodes[1].appendChild(div);
        }

        function galeri_oge_sil(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    </script>
}
<div class="row clearfix">
    @{ if (Request.Params["hata"] != null)
        {<div class="alert alert-danger col-md-12" role="alert">@Request.Params["hata"]</div>} }
    @{ if (Request.Params["tepki"] != null)
        {
            if (Request.Params["tepki"].ToString() == "1")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, karo eklendi...</div> }
            if (Request.Params["tepki"].ToString() == "2")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, karo güncellendi...</div> }
            if (Request.Params["tepki"].ToString() == "3")
            { <div class="alert alert-info col-md-12" role="alert">Karo silindi...</div> }

        }
    }
    <div class="col-md-12">
        <div class="card">
            <form method="post" action="/Admin/karoGuncelle" enctype="multipart/form-data">
                <input name="dil_id" type="hidden" value="@dil_id" />
                <div class="header">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
                <div class="body">
                    <div id="galeri_div">
                        @foreach (DataRow row in dt_karo.Rows)
                        {
                            <div class="row clearfix">
                                <div class='col-12'>
                                    <input type='hidden' name='karo_id[]' value='@row["karo_id"]' />
                                    <div class='form-group'>
                                        <label>Resim</label>
                                        <input type='file' name='resim' class='form-control' />
                                    </div>
                                </div>
                                <div class='col-12'>
                                    <div class='form-group'>
                                        <label>Buton Yazısı</label>
                                        <input type='text' name='buton[]' class='form-control' value='@row["buton"]' />
                                    </div>
                                    <div class='form-group'>
                                        <label>Buton Linki</label>
                                        <input type='text' name='link[]' class='form-control' value='@row["link"]' />
                                    </div>
                                </div>
                                <div class='col-md-12'><button type='button' class='btn btn-block btn-danger' onclick='galeri_oge_sil(this)'>Sil</button><br /></div>
                            </div>
                        }
                    </div>
                    <button type="button" class="btn btn-block btn-info" onclick="galeri_oge_ekle(this)">Yeni Galeri Öğesi Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>