@using System.Data
@using sotec_firma.Helpers
@{
    ViewBag.Title = "Ürün";

    bool first = true;
    DataTable dt_diller_vs;
    DataTable dt_blog_kategori = SQL.get("SELECT * FROM kategoriler WHERE silindi = 0 AND kategori_tipi_parametre_id = 16");
    DataTable dt_blog = SQL.get("SELECT u.*, k.ad, k.soyad, uk.kategori FROM urunler u INNER JOIN kullanicilar k ON k.kullanici_id = u.kaydeden_kullanici_id INNER JOIN kategoriler uk ON uk.kategori_id = u.kategori_id WHERE u.silindi = 0");
}
@section style
{
    <link rel="stylesheet" href="~/admin_src/vendor/dropify/css/dropify.min.css">
    <script src="~/admin_src/vendor/ckeditor/ckeditor.js"></script>
}
@section script
{
    <script src="~/admin_src/assets/js/pages/ui/dialogs.js"></script>
    <script src="~/admin_src/vendor/dropify/js/dropify.min.js"></script>
    <script>
        function urun_sil(urun_id) {
            swal({
                title: "Silmek istediğinizden emin misiniz?",
                text: "Silinen ürün geri getirilemez!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Evet, sil!",
                cancelButtonText: "Hayır",
                closeOnConfirm: false
            },
                function () {
                    window.location = "/Admin/urunSil?urun_id=" + urun_id;
                });
        }
    </script>
}

<div class="row clearfix">
    @{ if (Request.Params["hata"] != null)
        {<div class="alert alert-danger col-md-12" role="alert">@Request.Params["hata"]</div>} }
    @{ if (Request.Params["tepki"] != null)
        {
            if (Request.Params["tepki"].ToString() == "1")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, yeni ürün eklendi...</div> }
            if (Request.Params["tepki"].ToString() == "2")
            { <div class="alert alert-success col-md-12" role="alert">Tebrikler, ürün güncellendi...</div> }
            if (Request.Params["tepki"].ToString() == "3")
            { <div class="alert alert-info col-md-12" role="alert">Ürün silindi...</div> }

        }
    }
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="pull-right">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addcontact"><i class="fa fa-plus"></i> Yeni Ürün</a>
                </div>
            </div>
            <div class="body">
                <div class="table-responsive check-all-parent">
                    <table class="table table-custom table-hover m-b-0 c_list">
                        <thead>
                            <tr>
                                <th>Kategori</th>
                                <th>Kullanıcı</th>
                                <th>Ürün</th>
                                <th>Tarih</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr_item in dt_blog.Rows)
                            {
                                <tr>
                                    <td>@dr_item["kategori"]</td>
                                    <td>@dr_item["ad"] @dr_item["soyad"]</td>
                                    <td>@dr_item["urun_adi"]</td>
                                    <td>@dr_item["kayit_tarihi"]</td>
                                    <td>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-default" data-toggle="modal" data-target="#tedarikci_duzenle_@dr_item["urun_id"]"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-default" data-toggle="modal" data-target="#tedarikci_dil_@dr_item["urun_id"]"><i class="fa fa-flag"></i></a>
                                        <button onclick="urun_sil(@dr_item["urun_id"])" class="btn btn-danger" title="Delete" type="button"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>

                                <div class="modal fade" id="tedarikci_duzenle_@dr_item["urun_id"]" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <form action="/Admin/urunDuzenle" method="post" enctype="multipart/form-data">
                                                <div class="modal-header">
                                                    <h6 class="title" id="defaultModalLabel">Ürün Düzenle</h6>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row clearfix">
                                                        <input name="urun_id" type="hidden" value="@dr_item["urun_id"]" />
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Görsel</label>
                                                                <input type="file" name="gorsel" class="form-control" accept="image/x-png,image/jpeg" />
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Ürün Kategori</label>
                                                                <select name="urun_kategori_id" class="form-control">
                                                                    @foreach (DataRow item in dt_blog_kategori.Rows)
                                                                    {
                                                                        <option value="@item["kategori_id"]" @(item["kategori_id"].ToString() == dr_item["kategori_id"].ToString() ? "selected" : "")>@item["kategori"]</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Ürün Adı</label>
                                                                <input type="text" name="urun_adi" class="form-control" placeholder="Ürün Adı" autocomplete="off" value="@dr_item["urun_adi"]" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Fiyat</label>
                                                                @Html.TextBox("fiyat", Math.Round(Convert.ToDecimal(dr_item["fiyat"]), 0), new { @type = "number", @class = "form-control", @placeholder = "Fiyat", @autocomplete = "off" })
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Açıklama</label>
                                                                <textarea name="aciklama" id="ckeditor_@dr_item["urun_id"]">@dr_item["aciklama"]</textarea>
                                                                <script>CKEDITOR.replace('ckeditor_@dr_item["urun_id"]');</script>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Düzenle</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="tedarikci_dil_@dr_item["urun_id"]" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <form action="/Admin/urunDil" method="post" enctype="multipart/form-data">
                                                <div class="modal-header">
                                                    <h6 class="title" id="defaultModalLabel">Ürün Dilleri</h6>
                                                </div>
                                                <div class="modal-body">
                                                    <input name="urun_id" type="hidden" value="@dr_item["urun_id"]" />
                                                    <div class="body">
                                                        <ul class="nav nav-tabs">
                                                            @{
                                                                first = true;
                                                                dt_diller_vs = SQL.get("SELECT * FROM diller WHERE silindi = 0 AND varsayilan = 0");
                                                            }
                                                            @foreach (DataRow item2 in dt_diller_vs.Rows)
                                                            {
                                                                <li class="nav-item"><a class="nav-link @(first == true ? "active show" : "") " data-toggle="tab" href="#dil_@(item2["dil_id"] + "_" + dr_item["urun_id"])">@item2["dil"]</a></li>
                                                                if (first)
                                                                {
                                                                    first = false;
                                                                }
                                                            }
                                                        </ul>


                                                        <div class="tab-content">
                                                            @{
                                                                first = true;
                                                                dt_diller_vs = SQL.get("SELECT d.*, dk.urun_adi, dk.aciklama FROM diller d LEFT OUTER JOIN dil_urunler dk ON dk.dil_id = d.dil_id AND dk.urun_id = " + dr_item["urun_id"] + " WHERE d.silindi = 0 AND d.varsayilan = 0");
                                                            }
                                                            @foreach (DataRow item2 in dt_diller_vs.Rows)
                                                            {
                                                                <input type="hidden" name="dil_id[]" value="@item2["dil_id"]" />
                                                                <div class="tab-pane @(first ? "active show" : "")" id="dil_@(item2["dil_id"] + "_" + dr_item["urun_id"])">
                                                                    <h6>@item2["dil"]</h6>
                                                                    <div class="row clearfix">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label class="control-label">Ürün Adı</label>
                                                                                <input type="text" name="urun_adi" class="form-control" placeholder="Ürün Adı" autocomplete="off" value="@item2["urun_adi"]" />
                                                                                <span class="text-muted small">@dr_item["urun_adi"]</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label class="control-label">Açıklama</label>
                                                                                <textarea name="aciklama" id="ckeditor1_@(item2["dil_id"] + "_" + dr_item["urun_id"])">@item2["aciklama"]</textarea>
                                                                                <script>CKEDITOR.replace('ckeditor1_@(item2["dil_id"] + "_" + dr_item["urun_id"])');</script>
                                                                                <span class="text-muted small">@MvcHtmlString.Create(dr_item["aciklama"].ToString())</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                if (first)
                                                                {
                                                                    first = false;
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Düzenle</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addcontact" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" action="~/Admin/urunEkle" enctype="multipart/form-data">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Ürün Ekle</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Görsel</label>
                                <input type="file" name="gorsel" class="form-control" accept="image/x-png,image/jpeg" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Ürün Kategori</label>
                                <select name="urun_kategori_id" class="form-control">
                                    @foreach (DataRow item in dt_blog_kategori.Rows)
                                    {
                                        <option value="@item["kategori_id"]">@item["kategori"]</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Ürün Adı</label>
                                <input type="text" name="urun_adi" class="form-control" placeholder="Ürün Adı" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Fiyat</label>
                                @Html.TextBox("fiyat", null, new { @type = "number", @class = "form-control", @placeholder = "Fiyat", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Açıklama</label>
                                <textarea name="aciklama" id="ckeditor"></textarea>
                                <script>CKEDITOR.replace('ckeditor');</script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ekle</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                </div>
            </form>
        </div>
    </div>
</div>